@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyber-bg text-cyber-text-primary antialiased;
  }

  /* Custom Neon Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cyber-bg;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-cyber-primary/20 rounded-full hover:bg-cyber-primary/40 transition-colors;
  }
}

@keyframes loading-bar {
  0% { left: -50%; width: 30%; }
  50% { left: 30%; width: 60%; }
  100% { left: 100%; width: 30%; }
}
